.Menu input,
button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
.input {
  opacity: 100%;
}
.mainBack {
  height: 1000px;
  width: 1600px;
  /* background-color: rgb(255, 245, 248);` */
  background-image: url("../images/tally.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

.Quiz {
  width: 500px;
  height: max-content;
  border-radius: 10px;
  background-color: rgb(162, 85, 249);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  opacity: 100%;
}

h1 {
  color: white;
  margin-top: 60px;
}

#nextQuestion {
  width: 150px;
  margin-bottom: 100px;
}

h3 {
}
.lata {
  margin-top: 30px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-div {
  display: flex;
  align-items: center;
}
.prev-btn {
  margin-bottom: 100px;
  width: 150px;
}
